body {
    background-color: #FDF1DC;
}

.log-in-container {
  
}

.user-forms-container{
    width: 500px;
    padding: 10px;
    display: inline-block;
}

.monsters-container{
    width: 750px;
    margin-left: 50%;
    margin-top: -15%;
    background-color: #FDF1DC;
    border-radius: 5px;
    padding: 10px;
}

.search-bar-container{
    width: 700px;
    padding: 10px;
}

.filters{
    width: 700px;
}
.prompt{
    width: 500px;
}

.monster-table-container{
    padding: 10px;
}

.monster-table{
    width: 700px;
    height: 500px;
    overflow-y: scroll;
}

