#app {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-color: rgba(49, 2, 2, 0.795);
    background-blend-mode: overlay;
    height: 1000px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.log-in-div {
  width: 1000px;
  height: 600px;
  background-color: rgba(75, 4, 141, 0.733);
  border-style: inset;
  border-width: 10px;
  border-color: rgba(109, 8, 8, 0.932);
  border-radius: 5px;
  display: grid;
  justify-content: center;
  align-content: center;
}
.log-in-header {
  width: 800px;
  font-size: 50px;
  color: #FDF1DC;
  text-align: center;
}
.ui.segment.log-in-container{
  width: 800px;
}
.main-container {
    width: 1500px;
    height: 850px;
    background-color: rgba(75, 4, 141, 0.733);
    border-style: ridge;
    border-width: 10px;
    border-color: rgba(109, 8, 8, 0.932);
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-column-gap: 75px;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.user-forms-container{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 500px;
    background-color: #FDF1DC;
    border-style: ridge;
    border-width: 7px;
    border-color: orange;
    border-radius: 5px;
    padding: 10px;
}

.monsters-container{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    width: 750px;
    height: 750px;
    background-color: #FDF1DC;
    border-style: ridge;
    border-width: 7px;
    border-color: orange;
    border-radius: 5px;
    padding: 10px;
}


.search-bar-container{
    width: 700px;
    padding: 10px;
}

.filters{
    width: 700px;
}
.prompt{
    width: 500px;
}

.monster-table-container{
    padding: 10px;
}

.monster-table{
    width: 700px;
    height: 500px;
    overflow-y: scroll;
}

